* {
    margin: 0;
    padding: 0;
}
.box {
    height: 500px;
    width: 500px;  
    margin: 20px auto;
    border-top: 1px solid #B25F27;
    border-left: 1px solid #B25F27;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  
}
.block {
    width: 49px;
    height: 49px;
    border-right: 1px solid #B25F27;
    border-bottom: 1px solid #B25F27;
    box-shadow: 0 0 4px #333 inset;
    background-image: url('img/cao.jpg');
    float: left;
}

.dilei {
    width: 49px;
    height: 49px;
    border-right: 1px solid #B25F27;
    border-bottom: 1px solid #B25F27;
    box-shadow: 0 0 4px #333 inset;
    background-color: bisque;
    background-image:url('img/dilei.png');
    background-size: cover;
    float: left;
}